---
site: Pet Photos
---
<!-- The purpose of this page is to serve only as a base template. We should not add any functionality in here.
Only shared functionality for all pages (like the meta data) should be posted here -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }} - {{ site }}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ '/styles/tailwind.css' | url }}">
        <link rel="stylesheet" href="{{ '/styles/main.css?version=1' | url }}">
    </head>
    <body>
            
        <nav>
            <h1>{{ site }}</h1>
            <ul>
                <li><a href="{{ '/' | url }}" class="{% if page.url == '/' %}active-page{% endif %}">Home</a></li>
                <li><a href="{{ '/dog/' | url }}" class="{% if page.url == '/dog/' %}active-page{% endif %}">Dogs Only</a></li>
                <li><a href="{{ '/cat/' | url }}" class="{% if page.url == '/cat/' %}active-page{% endif %}">Cats Only</a></li>
                <li><a href="{{ '/other/' | url }}" class="{% if page.url == '/other/' %}active-page{% endif %}">Other Animals</a></li>
                <li><a href="{{ '/about' | url }}" class="{% if page.url == '/about/' %}active-page{% endif %}">About Us</a></li>
            </ul>
        </nav>
    
        {{ content }}

        {% if page.url contains '/photos/' %}
            <ul>
                {% if photographer_first_name != '' %}
                <li><p>Photographer: {{ photographer_first_name }} {{ photographer_last_name }}</p></li>
                {% else %}
                <li><p> Photographer: Unknown </p></li>
                {% endif %}

                {% if exif_camera_make != '' %}
                <li><p>Camera Make: {{ exif_camera_make }}</p></li>
                {% else %}
                <li><p> Camera Make: Unknown </p></li>
                {% endif %}

                {% if exif_camera_model != '' %}
                <li><p>Camera Model: {{ exif_camera_model }}</p></li>
                {% else %}
                <li><p>Camera Model: Unknown</p></li>
                {% endif %}

                {% if photo_location_city != '' %}
                <li><p>City: {{ photo_location_city }}</p></li>
                {% else %}
                <li><p>City: Unknown</p></li>
                {% endif %}

                {% if photo_location_city != '' %}
                <li><p>Country: {{ photo_location_country }}</p></li>
                {% else %}
                <li><p>Country: Unknown</p></li>
                {% endif %}
            </ul>
        {% endif %}
        </div>

        <div class="pet-photos-wrapper">
            {% for photo in pagination.items %}
            <li>
                <a href="{{ photo.url | url }}">
                    <div class="pet-photo-container">
                        <div class="pet-photo-description-container">
                            {{ photo.data.ai_description }} - 
                            {{ photo.data.photographer_first_name}} {{ photo.data.photographer_last_name }} 
                        </div>
                        <div class="pet-photo-image-container">
                            <img src="{{ photo.data.photo_image_url }}" alt="A {{ photo.data.photo_keyword }} photo by 
                            {{ photo.data.photographer_first_name}} {{ photo.data.photographer_last_name }}">
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
            <div class="next-previous-area">
                <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous | url}}">Previous</a>{% else %}{% endif %}</li>
                <li>{% if pagination.href.next %}<a href="{{ pagination.href.next | url }}">Next</a>{% else %}{% endif %}</li>
            </div>
        </div>

    </body>
</html>
