---
site: Pet Photos
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }} - {{ site }}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ '/styles/tailwind.css' | url }}">
        <link rel="stylesheet" href="{{ '/styles/main.css' | url }}">
    </head>

    <body>
        <h1 class="banner">{{ site }}</h1>
        <nav> 
            <ul>
                {% unless page.url == '/' %}
                <li><a href="{{ '/' | url }}">Home</a></li>
                {% endunless %}
                {% unless page.url == '/dog/' %}
                <li><a href="{{ '/dog/' | url }}">Dogs Only</a></li>
                {% endunless %}
                {% unless page.url == '/cat/' %}
                <li><a href="{{ '/cat/' | url }}">Cats Only</a></li>
                {% endunless %}
                {% unless page.url == '/other/' %}
                <li><a href="{{ '/other/' | url }}">Other Animals</a></li>
                {% endunless %}
                {% unless page.url == '/about/' %}
                <li><a href="{{ '/about' | url }}">About Us</a></li>
                {% endunless %}
            </ul>
        </nav>
    
        {% if content %}
        <main>
            {{ content }}

            {% if page.url contains '/photos/' %}
                <ul>
                    {% if photographer_first_name != '' %}
                    <li><p>Photographer: {{ photographer_first_name }} {{ photographer_last_name }}</p></li>
                    {% else %}
                    <li><p> Photographer: Unknown </p></li>
                    {% endif %}

                    {% if exif_camera_make != '' %}
                    <li><p>Camera Make: {{ exif_camera_make }}</p></li>
                    {% else %}
                    <li><p> Camera Make: Unknown </p></li>
                    {% endif %}

                    {% if exif_camera_model != '' %}
                    <li><p>Camera Model: {{ exif_camera_model }}</p></li>
                    {% else %}
                    <li><p>Camera Model: Unknown</p></li>
                    {% endif %}

                    {% if photo_location_city != '' %}
                    <li><p>City: {{ photo_location_city }}</p></li>
                    {% else %}
                    <li><p>City: Unknown</p></li>
                    {% endif %}

                    {% if photo_location_city != '' %}
                    <li><p>Country: {{ photo_location_country }}</p></li>
                    {% else %}
                    <li><p>Country: Unknown</p></li>
                    {% endif %}
                </ul>
            {% endif %}
            
        </main>
        {% endif %}

        {% if page.url == '/' %}
        <div class="links">
        <ul>
            {% for photo in collections.photos %}
            <li>
                <a href="{{ photo.url | url }}">
                    {{ photo.data.ai_description }} - 
                    {{ photo.data.photographer_first_name}} {{ photo.data.photographer_last_name }} 
                </a>
            </li>
            {% endfor %}
        </ul>
        {% elsif photo_keyword == 'dog' or title == 'Dogs' %}
        <ul>
            {% for dog in collections.dogs %}
            <li>
                <a href="{{ dog.url | url }}">
                    {{ dog.data.ai_description }} - 
                    {{ dog.data.photographer_first_name}} {{ dog.data.photographer_last_name }} 
                </a>
            </li>
            {% endfor %}
        </ul>
        {% elsif photo_keyword == 'cat' or title == 'Cats' %}
        <ul>
            {% for cat in collections.cats %}
            <li>
                <a href="{{ cat.url | url }}">
                    {{ cat.data.ai_description }} - 
                    {{ cat.data.photographer_first_name}} {{ cat.data.photographer_last_name }} 
                </a>
            </li>
            {% endfor %}
        </ul>
        {% elsif page.url != '/about/' %}
        <ul>
            {% for other in collections.others %}   
            <li>
                <a href="{{ other.url | url }}">
                    {{ other.data.ai_description }} - 
                    {{ other.data.photographer_first_name}} {{ other.data.photographer_last_name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        </div>

        <footer>This is the footer</footer>
    </body>
</html>
