body {
    display:grid;
}

@media (min-width: 40em){
    body {
        grid-template-areas: 
        'banner banner banner'
        'nav main links'
        'nav footer footer'
    }

    .banner {grid-area: banner;}
    nav {grid-area: nav;}
    main {grid-area: main;}
    .links {grid-area: links;}
    footer {grid-area: footer;}

}
